.block-green-future-tu-hao:after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    background: rgb(0 97 83 / 48%);
    border-radius: .4rem !important;
    z-index: -1;
    width: 100%;
    bottom: 0;
    left: 0;
}
#block-swiper-slider-home:before,
#block-swiper-slider-home:after{
    content: "";
    position: absolute;
    display: block;
    /*left: -10px;*/
    width: 100%;
    height: 100px;
}
.breadcrumbs:after{
    content: "";
    position: absolute;
    display: block;
    /*left: -10px;*/
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;

    background: rgb(0, 97, 83);
    background: linear-gradient(0deg, rgba(0, 97, 83, 1) 20%, rgb(255 255 255 / 0%) 100%) !important;
}

#block-swiper-slider-chuoi-gia-tri-sp:before,
#block-swiper-slider-chuoi-gia-tri-sp:after{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 400px;
}

.bottom-radian-new:after{
    content: "";
    position: absolute;
    display: block;
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgb(0, 97, 83);
    background: linear-gradient(0deg, rgba(0, 97, 83, 1) 20%, rgb(250 250 250 / 0%) 100%) !important;
    border-radius: .4rem !important;
}

#block-swiper-slider-chuoi-gia-tri-sp:before{
    left: 0;
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 24%, rgba(255,255,255,0) 100%);
    z-index: 1000;
}
#block-swiper-slider-chuoi-gia-tri-sp:after{
    right: 0;
    top: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 400%);

    z-index: 1000;
}
#block-swiper-slider-home:before{
    top: 0;
    background: rgb(0, 97, 83);
    background: linear-gradient(180deg, rgba(0, 97, 83, 1) 0%, rgb(250 250 250 / 0%) 100%);
    z-index: 1000;
}
#block-swiper-slider-home:after{
    bottom: 0;
    background: rgb(0, 97, 83);
    background: linear-gradient(0deg, rgba(0, 97, 83, 1) 20%, rgb(250 250 250 / 0%) 100%) !important;
    z-index: 1000;
}

.bg-green-linear-green{
    background: rgb(0, 97, 83);
    background: linear-gradient(180deg, rgba(0, 97, 83, 1) 4%, rgb(255 255 255 / 0%) 25%);
}
.btn-tree-color{
    background: rgb(0, 97, 83);
}
.swiper-container {
    -webkit-user-select: none;
    position: relative;
}
.text-white a{
    color: white !important;
}
.font-16 a{
    font-size: 16px !important;
}
.bg-green-linear-green-bottom-up{
    background: rgb(0,97,83);
    background: linear-gradient(0deg, rgba(0,97,83,1) 15%, rgba(255,255,255,1) 45%);
}
.bg-green-linear-green-no-gradient{
    background: rgb(0,97,83);
    background: linear-gradient(180deg, rgba(0,97,83,1) 15%, rgba(255,255,255,1) 45%);
}
.bg-green-dam{
    background: rgb(0,97,83);
}
.block-header{
    height: 40px;
}
#bg-bottom {
    height: 80px;
    z-index: 10;
    margin-top: -120px;
    background: rgb(0, 97, 83);
    background: linear-gradient(0deg, rgba(0, 97, 83, 1) 15%, rgb(255 255 255 / 0%) 100%);
}
.text-green-nhat{
    color: #8CBA7C;
}
.bg-tre-nhat{
    background: #8CBA7C;
}
.bg-tre-nhat-2{
    background: #E8F1E5;
}
.text-black{
    color: #000000;
}
.font-weight-400{
    font-weight: 400;
}
.nav-link{
    --bs-nav-link-font-weight: 500;
    letter-spacing: -.01rem;
}
.font-weight-200{
    font-weight: 200 !important;
}
.text-tre-color{
    color: rgb(0,97,83);
}
b, strong {
    font-weight: 600;
}
.font-18{
    font-size: 18px;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
#intro{
    background: url("../../assets/img/anh-rung-trev2.jpg");
}
#play-button,
#btn-play-video-gioi-thieu{
    position: absolute;
    width: 130px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    border-radius: 50%;
}
a#btn-play-video-gioi-thieu {
    color: #ffffff;
    font-size: 80pt;
    text-align: center;
    border: none;
    box-shadow: none;
    text-shadow: 1px 1px 14px #cccccc;
}#btn-play-video-gioi-thieu:hover {
    font-size: 120pt;
     animation: ease-out;
}
#play-button:hover{
    width: 150px;
    animation: ease-out;
}
.btn-tree-color {
    background: rgb(0, 97, 83);
    color: #fff;
    border: rgb(0, 97, 83);
    font-size: 16px;
    font-weight: 300;
    padding: 5px 20px;
    border-radius: 5px;
}
.circle-sm-1{
    width: 60%;
    border-radius: 50%;
}
.circle-lg-1{
    width: 80%;
    border-radius: 50%;
}
.border-circle-tre-color{
    border: 3px solid rgb(0, 97, 83);
}
.bg-g {
    background: url(../img/logo-chim.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center center;
}
.circle-img{
    border-radius: 50%;
}
.border-tre-color-thin{
    border: 1px solid rgb(0, 97, 83);
}
.bg-tre-color{
    background: rgb(0, 97, 83);
}
.ml--4{
    margin-left: -4px;
}
.ml--6{
    margin-left: -6px;
}
.breadcrumbs{
    background: url("../../assets/img/breadcrumbs.jpg");
}
div#content-breadcrumbs{
    position: absolute;
    bottom: 20px;
}
.font-30{
    font-size: 30pt;
}
.min-height-240{
    min-height: 240px;
}
.block-green-future-tu-hao{
    background: url("../img/slider_1.jpg");
    background-size: cover;
    z-index: 10;
}
.font-40{
    font-size: 40pt;
}
.box-shadow-1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}
.overflow-visible-lg{
    overflow: visible !important;
}
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}
.widget.custom-box {
    padding: 38px 40px 40px;
    background: #eff3ed;
    border-radius: 20px;
}
@media (max-width: 1024px){
    #block-swiper-slider-chuoi-gia-tri-sp:before, #block-swiper-slider-chuoi-gia-tri-sp:after{
        display: none;
    }
    .overflow-visible-lg{
        overflow: hidden !important;
    }
}
@media (max-width: 600px){
    #block-swiper-slider-chuoi-gia-tri-sp:before, #block-swiper-slider-chuoi-gia-tri-sp:after{
        display: none;
    }
    .overflow-visible-lg{
        overflow: hidden !important;
    }
}