<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>VỀ GREENER FUTURE</title>
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/colors/yellow.css">
</head>

<body>
<div class="content-wrapper">
    <header class="wrapper bg-light">
        <div class="bg-tre-color text-white fw-bold fs-15 mb-2">
            <div class="container d-none py-2 d-md-flex flex-md-row">
                <div class="d-flex flex-row align-items-center me-6">
                    <div class="icon text-white mt-1 me-2"> <i class="fa-solid fa-phone"></i> </div>
                    <p class="mb-0">
                        <a href="tel:0833.086.888" class="font-16 font-weight-300">0833.086.888</a>
                    </p>
                </div>

                <div class="d-flex flex-row align-items-center me-6">
                    <div class="icon text-white mt-1 me-2"> <i class="fa-solid fa-envelope"></i> </div>
                    <p class="mb-0">
                        <a href="mailto:contact@greenerfuture.com" class="font-16 font-weight-300">
                            <span class="__cf_email__">contact@greenerfuture.com</span>
                        </a>
                    </p>
                </div>

                <div class="d-flex flex-row align-items-center">
                    <div class="icon text-white mt-1 me-2">
                        <i class="fa-solid fa-building"></i>
                    </div>
                    <address class="mb-0 font-16 font-weight-300">
                        Biệt thự H6-SH11 KĐT Tây Hồ Tây - Phường Cổ Nhuế 1 - Bắc Từ Liêm - TP Hà Nội - Việt Nam
                    </address>
                </div>

            </div>
            <!-- /.container -->
        </div>
        <nav class="navbar navbar-expand-lg center-nav transparent navbar-light">
            <div class="container flex-lg-row flex-nowrap align-items-center">
                <div class="navbar-brand w-100">
                    <a href="index.html">
                        <img src="assets/img/logo-1.png" width="100px" srcset="assets/img/logo-1.png" alt="" />
                    </a>
                </div>
                <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
                    <div class="offcanvas-header d-lg-none d-xl-none">
                        <a href="index.html">
                            <img src="assets/img/logo-1.png" srcset="assets/img/logo-1.png" alt=""  class="img-fluid"/>
                        </a>
                        <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link scroll active" href="./index.html">Trang chủ</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Về Greener Future</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="dropdown-item" href="./gioi-thieu.html">Giới thiệu GreenerFuture</a></li>
                                <li class="nav-item"><a class="dropdown-item" href="./ho-so-nang-luc-doanh-nghiep.html">Chứng nhận tiêu chuẩn</a></li>
                                <li class="nav-item"><a class="dropdown-item" href="./doi-tac.html">Đối tác</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link scroll" href="./san-pham.html">Dịch Vụ</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="./tin-tuc-hop-tac.html">Tin Tức & Sự Kiện</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="./hoi-dap.html">Hỏi & Đáp</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="./lien-he.html">Liên Hệ</a></li>
                    </ul>
                    </div>

                    <!-- /.navbar-nav -->
                </div>
                <!-- /.navbar-other -->
                <div class="navbar-other w-100 d-flex">
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li class="nav-item"><a class="nav-link text-green-nhat" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-search"><i class="fa-solid fa-cart-plus"></i></a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-info"><i class="fa-solid fa-globe"></i></a></li>
                        <li class="nav-item d-lg-none">
                            <button class="hamburger offcanvas-nav-btn"><span></span></button>
                        </li>
                    </ul>
                    <!-- /.navbar-nav -->
                </div>
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->
    </header>

    <section class="breadcrumbs py-17 position-relative z-0">
        <div class="container">
            <div id="content-breadcrumbs" class="z-3">
                <h1 class="text-white">VỀ GREENER FUTURE</h1>
                <p><a href="index.html" class="text-white">Trang Chủ</a>
                    <span class="ms-2 me-2 text-white"><i class="fa-solid fa-angles-right"></i></span>
                    <a href="gioi-thieu.html" class="text-white">Về Greener Future</a>
                    <span class="ms-2 me-2 text-white"><i class="fa-solid fa-angles-right"></i></span>
                    <a href="#" class="text-white">Hồ Sơ Năng Lực Công Ty</a>
                </p>
            </div>
        </div>
    </section>

    <section id="intro-block" class="pt-12 pb-5">
        <div class="container">
            <h2 class="h1 text-tre-color">ĐƯA CÂY TRE VIỆT NAM RA THẾ GIỚI</h2>
            <p class="font-18 font-weight-300 text-tre-color">
                <strong>Greener Future</strong> được thành lập vào năm 2023, là doanh nghiệp hoạt động trong lĩnh vực năng lượng và môi trường. Nắm bắt nhu cầu thực tế về việc trung hòa phát thải, Greener Future đang triển khai các dự án trồng rừng tre nguyên liệu, cùng các đối tác kiểm định tín chỉ carbon quốc tế như VeraCarbon, Gold Standard để xây dựng kế hoạch kiểm định và phát hành chứng chỉ tín chỉ carbon quốc tế. Hiện nay, Greener Future đang tập trung vào hoạt động thương mại các sản phẩm lâm sản như viên nén gỗ, lâm sản ngoài gỗ như tre nguyên liệu, gỗ ép làm từ tre, và đặc biệt là than tre hoạt tính.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-tre-color font-18 font-weight-300">Trong lĩnh vực than hoạt tính, Greener Future đang hợp tác cùng các đối tác Hàn Quốc triển khai dự án thử nghiệm công nghệ và thương mại hóa hệ thống lọc nước sinh hoạt, lọc nước thải công nghiệp và lọc nước siêu sạch sử dụng than hoạt tính tại Việt Nam.</p>
                </div>
                <div class="col-md-6">
                    <div id="block-img-intro-video" class="position-relative">
                        <img src="assets/img/img-video-intro.jpg" alt="" class="img-fluid rounded">
                        <a href="#" class="d-block" id="btn-play-video-gioi-thieu"><i class="fa-solid fa-circle-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="tam-nhin-block" class="bg-tre-color pt-5">
        <div class="container">
            <img src="assets/img/tre1.png" width="80px" alt="">
            <h2 class="mt-3 mb-3">
                <span class="h1 text-white font-30 font-weight-600">Tầm Nhìn | </span>
                <span class="h3 text-white font-weight-600">Hướng tới một tương lai xanh hơn thông qua chuỗi giá trị tre</span>
            </h2>

            <p class="text-white font-18 font-weight-300">Tre là một nguồn tài nguyên tái tạo tuyệt vời với nhiều ứng dụng đa dạng và tiềm năng to lớn trong việc bảo vệ môi trường. Để hiện thực hóa tầm nhìn về một tương lai xanh hơn, chúng ta cần tập trung vào việc khai thác, sử dụng và quản lý chuỗi giá trị của tre một cách bền vững và hiệu quả.</p>

            <h2 class="text-center font-30 text-white">Sứ Mệnh</h2>
            <p class="ps-15 pe-15 text-center font-weight-300 font-18 text-white">Thúc đẩy sự chuyển đổi của cây tre như một nguồn tài nguyên thay thế quan trọng của thế kỷ 21</p>

        </div>
        <div class="row align-items-end">
            <div class="col-md-6 text-start">
                <img src="assets/img/tre2.png" alt="">
            </div>
            <div class="col-md-6 text-end">
                <img src="assets/img/tre3.png" alt="">
            </div>
        </div>
    </section>

    <section class="wrapper">
        <div class="container">
            <div class="row gx-md-5 gy-5 mt-n19 mb-7">
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body bg-tre-nhat-2 rounded min-height-240">
                            <h4 class="h1 text-center text-tre-color">Nhân Văn</h4>
                            <ul>
                                <li class="font-18 font-weight-400 text-black">Tạo sinh kế cho người dân địa phương</li>
                                <li class="font-18 font-weight-400 text-black">Bảo tồn giá trị văn hóa cộng đồng</li>
                            </ul>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body bg-tre-nhat-2 rounded min-height-240">
                            <h4 class="h1 text-center text-tre-color">Đam Mê</h4>
                            <ul>
                                <li class="font-18 font-weight-300 text-black">Đam mê thực hiện sứ mệnh tạo ra một tương lai môi trường bền vững</li>
                            </ul>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-xl-4">
                    <div class="card shadow-lg">
                        <div class="card-body bg-tre-nhat-2 rounded min-height-240">
                            <h4 class="h1 text-center text-tre-color">Đổi Mới</h4>
                            <ul>
                                <li class="font-18 font-weight-300 text-black">Liên tục đổi mới và cải tiến, tìm kiếm những công nghệ và cơ hội mới để thúc đẩy sự thay đổi.</li>
                            </ul>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
            </div>

        </div>
        <!-- /.container -->
    </section>

    <section class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-tre-color">GREENER FUTURE TỰ HÀO </h2>
                <p class="font-18 text-tre-color font-weight-300">Greener Future mong muốn lan tỏa những giá trị tốt đẹp từ việc phát triển sinh kế, nâng cao chất lượng cuộc sống cho đồng bào người dân tộc thiểu số đến bảo vệ sức khỏe người tiêu dùng, bảo vệ môi trường và cân bằng lợi ích của các bên tham gia chuỗi giá trị.</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-green-future-tu-hao text-white position-relative mb-3 rounded">
                            <div class="pt-1 pb-1 ps-2 pe-2">
                                <h3 class="font-40 text-white text-center">03</h3>
                                <h4 class="text-white text-center mb-0">VÙNG NGUYÊN LIỆU</h4>
                                <p class="text-center">với 261 ha diện tích đất canh tác theo tiêu chuẩn quốc tế</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block-green-future-tu-hao text-white position-relative mb-3 rounded">
                            <div class="pt-1 pb-1 ps-2 pe-2">
                                <h3 class="font-40 text-white text-center">03</h3>
                                <h4 class="text-white text-center mb-0">VÙNG NGUYÊN LIỆU</h4>
                                <p class="text-center">với 261 ha diện tích đất canh tác theo tiêu chuẩn quốc tế</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-green-future-tu-hao text-white position-relative mb-3 rounded">
                            <div class="pt-1 pb-1 ps-2 pe-2">
                                <h3 class="font-40 text-white text-center">03</h3>
                                <h4 class="text-white text-center mb-0">VÙNG NGUYÊN LIỆU</h4>
                                <p class="text-center">với 261 ha diện tích đất canh tác theo tiêu chuẩn quốc tế</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block-green-future-tu-hao text-white position-relative mb-3 rounded">
                            <div class="pt-1 pb-1 ps-2 pe-2">
                                <h3 class="font-40 text-white text-center">03</h3>
                                <h4 class="text-white text-center mb-0">VÙNG NGUYÊN LIỆU</h4>
                                <p class="text-center">với 261 ha diện tích đất canh tác theo tiêu chuẩn quốc tế</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--    Giấy chứng nhận-->
    <section id="giay-chung-nhan" class="pt-7 pb-7">
        <h2 class="text-tre-color text-center pb-6">CHỨNG NHẬN TIÊU CHUẨN</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center ps-5 pe-5">
                        <img src="assets/img/chung-nhan-1.png" alt="" width="200px">
                        <p class="font-18 font-weight-300 pt-5">
                            JAS là tên viết tắt của Japanese Agricultural Standards (JAS) System, có nghĩa là tiêu chuẩn hữu cơ nông nghiệp Nhật Bản. Đây là một trong những chứng nhận về nông nghiệp hữu cơ hàng đầu và uy tín tại Nhật Bản. Và lần đầu tiên Hanuti được cấp chứng nhận này là ngày 19/04/2022
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center ps-5 pe-5">
                        <img src="assets/img/chung-nhan-2.png" alt="" width="200px">
                        <p class="font-18 font-weight-300 pt-5">
                            JAS là tên viết tắt của Japanese Agricultural Standards (JAS) System, có nghĩa là tiêu chuẩn hữu cơ nông nghiệp Nhật Bản. Đây là một trong những chứng nhận về nông nghiệp hữu cơ hàng đầu và uy tín tại Nhật Bản. Và lần đầu tiên Hanuti được cấp chứng nhận này là ngày 19/04/2022
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center ps-5 pe-5">
                        <img src="assets/img/chung-nhan-3.png" alt="" width="200px">
                        <p class="font-18 font-weight-300 pt-5">
                            JAS là tên viết tắt của Japanese Agricultural Standards (JAS) System, có nghĩa là tiêu chuẩn hữu cơ nông nghiệp Nhật Bản. Đây là một trong những chứng nhận về nông nghiệp hữu cơ hàng đầu và uy tín tại Nhật Bản. Và lần đầu tiên Hanuti được cấp chứng nhận này là ngày 19/04/2022
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--    Đối tác -->
    <section id="doi-tac" class="pt-7 pb-7">
        <h2 class="text-tre-color h1 text-center pb-3">ĐỐI TÁC CỦA GREENER FUTURE</h2>
        <div class="container">
            <div class="wrapper overflow-hidden">
                <div class="container-fluid px-xl-0">
                    <div class="swiper-container swiper-auto" data-speed="300" data-items="1" data-autoplay="true" data-margin="30" data-dots="true" data-centered="true" data-loop="true">
                        <div class="swiper overflow-visible">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="row align-items-center">
                                        <div class="col-md-2">
                                            <img src="assets/img/bumhan.jpg" alt="" class="circle-img border-tre-color-thin img-fluid">
                                        </div>
                                        <div class="col-md-10">
                                            <h3 class="text-tre-color h2">BUMHAN</h3>
                                            <p class="text-green-nhat p-0 m-0">OEMs Partner</p>
                                            <p class="p-0 mt-1 font-18 font-weight-300">
                                                Tristique nulla aliquet enim tortor at. Vitae proin sagittis nisl rhoncus mattis rhoncus. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis. Malesuada fames ac turpis egestas sed. Porta lorem mollis aliquam ut porttitor leo a diam sollicitudin.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="row align-items-center">
                                        <div class="col-md-2">
                                            <img src="assets/img/bumhan.jpg" alt="" class="circle-img border-tre-color-thin img-fluid">
                                        </div>
                                        <div class="col-md-10">
                                            <h3 class="text-tre-color h2">BUMHAN</h3>
                                            <p class="text-green-nhat p-0 m-0">OEMs Partner</p>
                                            <p class="p-0 mt-1 font-18 font-weight-300">
                                                Tristique nulla aliquet enim tortor at. Vitae proin sagittis nisl rhoncus mattis rhoncus. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis. Malesuada fames ac turpis egestas sed. Porta lorem mollis aliquam ut porttitor leo a diam sollicitudin.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.swiper-wrapper -->
                        </div>
                        <!-- /.swiper -->
                    </div>
                    <!-- /.swiper-container -->
                </div>
                <!-- /.cotnainer -->
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
<footer class="bg-gray">
    <div class="bg-tre-color">
        <div class="container pt-10">
            <div class="row align-items-end">
                <div class="col-md-8">
                    <img src="assets/img/logo-footer.png" width="200px">
                    <h2 class="text-white pt-5 pb-3 m-0">CÔNG TY CỔ PHẦN GREENER FUTURE</h2>
                    <ul class="list-unstyled">
                        <li class="text-white"><a href="tel:0833.086.888" class="font-18 font-weight-300"><i class="fa-solid fa-phone"></i> 0833.086.888</a></li>
                        <li class="text-white"><a href="mailto:contact@greenerfuture.com" class="font-18 font-weight-300"><i class="fa-solid fa-envelope"></i> contact@greenerfuture.com</a></li>
                        <li class="text-white"><a href="" class="font-18 font-weight-300"><i class="fa-solid fa-building"></i> Biệt thự H6-SH11 KĐT Tây Hồ Tây - Phường Cổ Nhuế 1 - Bắc Từ Liêm - TP Hà Nội - Việt Nam</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-white pt-3 pb-3">MẠNG XÃ HỘI</h2>
                    <ul class="list-unstyled flex-column">
                        <li class="list-inline-item p-0 ml--6 me-0">
                            <a href="#"><img alt="" src="assets/img/search-button-footer.png"></a>
                        </li>
                        <li class="list-inline-item p-0 ml--6 me-0">
                            <a href="#"><img alt="" src="assets/img/fb-button-footer.png"></a>
                        </li>
                        <li class="list-inline-item p-0 ml--6 me-0">
                            <a href="#"><img alt="" src="assets/img/btn-ytb-footer.png"></a>
                        </li>
                        <li class="list-inline-item p-0 ml--6 me-0">
                            <a href="#"><img alt="" src="assets/img/btn-tiktok-footer.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="bottom-footer">
            <div class="container">
                <p class="m-0 pt-3 pb-3 text-white">COPYRIGHT 2024 GREENERFUTURE. ALL RIGHT RESERVED</p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>
