<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>LIÊN HỆ</title>
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/colors/yellow.css">
</head>

<body>
<div class="content-wrapper">
    <header class="wrapper bg-green-dam block-header">
        <nav class="navbar navbar-expand-lg extended extended-alt navbar-light navbar-bg-light box-shadow-1">
          <div class="container flex-lg-column">
            <div class="d-none topbar d-lg-flex flex-row justify-content-lg-center align-items-center">
              <div class="navbar-brand">
                <ul class="list-unstyled font-16 font-weight-200">
                  <li class="ps-4 pe-4 list-inline-item text-white">
                    <a href="tel:0938.345.222"><i class="fa-solid fa-phone"></i> 0938.345.222</a>
                  </li>
                  <li class="ps-4 pe-4 list-inline-item text-white">
                    <a href="mailto:contact@greenerfuture.com"><i class="fa-solid fa-envelope"></i> contact@greenerfuture.com</a>
                  </li>
                  <li class="ps-4 pe-4 list-inline-item text-white">
                    <a href=""><i class="fa-solid fa-building"></i> 212 Nguyễn Trãi, P. Thanh Xuân Trung, Q. Thanh Xuân, Hà Nội.</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.d-flex -->
            <div class="navbar-collapse-wrapper bg-white d-flex flex-row align-items-center justify-content-between w-100">
              <div class="navbar-other w-100 navbar-brand">
                <img src="assets/img/logo-1.png" width="100px">
                <!-- /.social -->
              </div>
              <!-- /.navbar-other -->
              <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
                <div class="offcanvas-header d-lg-none">
                  <a href="index.html">
                    <img src="assets/img/logo-1.png" srcset="assets/img/logo-1.png" alt=""  class="img-fluid"/>
                </a>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-flex flex-column h-100">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link scroll active" href="./index.html">Trang chủ</a></li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Về Greener Future</a>
                      <ul class="dropdown-menu">
                        <li class="nav-item"><a class="dropdown-item" href="./gioi-thieu.html">Giới thiệu GreenerFuture</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="./ho-so-nang-luc-doanh-nghiep.html">Chứng nhận tiêu chuẩn</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="./doi-tac.html">Đối tác</a></li>
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link scroll" href="./san-pham.html">Dịch Vụ</a></li>
                    <li class="nav-item"><a class="nav-link scroll" href="./tin-tuc-hop-tac.html">Tin Tức & Sự Kiện</a></li>
                    <li class="nav-item"><a class="nav-link scroll" href="./hoi-dap.html">Hỏi & Đáp</a></li>
                    <li class="nav-item"><a class="nav-link scroll" href="./lien-he.html">Liên Hệ</a></li>
                  </ul>
                  <!-- /.navbar-nav -->
                  <div class="offcanvas-footer d-lg-none">
                    <div>
                      <a href="mailto:contact@greenerfuture.com" class="link-inverse"><span class="__cf_email__" data-cfemail="0b62656d644b6e666a626725686466">contact@greenerfuture.com</span></a>
                      <br /> 0938.345.222<br />
                      <nav class="nav social social-white mt-4">
                        <a href="#"><i class="uil uil-twitter"></i></a>
                        <a href="#"><i class="uil uil-facebook-f"></i></a>
                        <a href="#"><i class="uil uil-dribbble"></i></a>
                        <a href="#"><i class="uil uil-instagram"></i></a>
                        <a href="#"><i class="uil uil-youtube"></i></a>
                      </nav>
                      <!-- /.social -->
                    </div>
                  </div>
                  <!-- /.offcanvas-footer -->
                </div>
              </div>
              <!-- /.navbar-collapse -->
              <div class="navbar-other w-100 d-flex">
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                  <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                  <li class="nav-item"><a class="nav-link text-green-nhat" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-search"><i class="fa-solid fa-cart-plus"></i></a></li>
                  <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-info"><i class="fa-solid fa-globe"></i></a></li>
                  <li class="nav-item d-lg-none">
                    <button class="hamburger offcanvas-nav-btn"><span></span></button>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <!-- /.navbar-other -->
            </div>
            <!-- /.navbar-collapse-wrapper -->
          </div>
          <!-- /.container -->
        </nav>
        <!-- /.navbar -->
        <div class="offcanvas offcanvas-end text-inverse" id="offcanvas-info" data-bs-scroll="true">
          <div class="offcanvas-header">
            <h3 class="text-white fs-30 mb-0"></h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body pb-6">
            <div class="widget mb-8">
              <p></p>
            </div>
            <!-- /.widget -->
            <div class="widget mb-8">
              <h4 class="widget-title text-white mb-3"></h4>
              <address> </address>
              <a href="#"><span class="__cf_email__" data-cfemail="6801060e07280d05090104460b0705"></span></a><br /> 
            </div>
            <!-- /.widget -->
            <div class="widget mb-8">
              <h4 class="widget-title text-white mb-3"></h4>
              <ul class="list-unstyled">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
            <!-- /.widget -->
            <div class="widget">
              <h4 class="widget-title text-white mb-3"></h4>
              <nav class="nav social social-white">
                <a href="#"><i class="uil uil-twitter"></i></a>
                <a href="#"><i class="uil uil-facebook-f"></i></a>
                <a href="#"><i class="uil uil-dribbble"></i></a>
                <a href="#"><i class="uil uil-instagram"></i></a>
                <a href="#"><i class="uil uil-youtube"></i></a>
              </nav>
              <!-- /.social -->
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.offcanvas-body -->
        </div>
        <!-- /.offcanvas -->
        <div class="offcanvas offcanvas-top bg-light" id="offcanvas-search" data-bs-scroll="true">
          <div class="container d-flex flex-row py-6">
            <form class="search-form w-100">
              <input id="search-form" type="text" class="form-control" placeholder="Type keyword and hit enter">
            </form>
            <!-- /.search-form -->
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.offcanvas -->
      </header>

    <section class="breadcrumbs py-17 position-relative z-0">
        <div class="container">
            <div id="content-breadcrumbs" class="z-3">
                <h1 class="text-white"> LIÊN HỆ</h1>
                <p><a href="index.html" class="text-white">Trang Chủ</a>
                    <span class="ms-2 me-2 text-white"><i class="fa-solid fa-angles-right"></i></span>
                    <a href="gioi-thieu.html" class="text-white">Liên hệ</a>
                </p>
            </div>
        </div>
    </section>


    <section class="wrapper bg-light">
        <div class="container mt-10">
            <div class="row align-items-center justify-content-center counter-wrapper gy-6">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <div class="icon btn btn-circle btn-lg btn-soft-red pe-none mx-auto me-4 mb-lg-3 mb-xl-0">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                </div>
                                <div>
                                    <h3 class="mb-1 text-tre-color">0833.086.888</h3>
                                    <p class="mb-0">Hotline</p>
                                </div>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center flex-wrap">
                                <div>
                                    <div class="icon btn btn-circle btn-lg btn-soft-leaf pe-none mx-auto me-4 mb-lg-3 mb-xl-0">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                <div>
                                    <h3 class="text-tre-color mb-1">contact@greenerfuture.com</h3>
                                    <p class="mb-0">Email</p>
                                </div>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <div class="icon btn btn-circle btn-lg btn-soft-primary pe-none mx-auto me-4 mb-lg-3 mb-xl-0">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                </div>
                                <div>
                                    <h3 class="mb-1 h4 text-tre-color font-weight-500">Biệt thự H6-SH11 KĐT Tây Hồ Tây Bắc Từ Liêm - TP Hà Nội</h3>
                                </div>
                            </div>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
            </div>
            <div class="ratio ratio-16x9 mt-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29793.988211049866!2d105.8369637!3d21.022739599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9bd9861ca1%3A0xe7887f7b72ca17a9!2sHanoi!5e0!3m2!1sen!2s!4v1719256569486!5m2!1sen!2s" title="YouTube video" allowfullscreen class="rounded-4"></iframe>
            </div>
            <!-- /.row -->
            <h2 class="text-tre-color pt-8">Gửi Câu Hỏi Để Chúng Tôi Tư Vấn Cho Bạn Nhé</h2>
            <form>
                <div class="row mb-5">
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Họ & Tên" >
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Số Điện Thoại" >
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Email" >
                    </div>
                </div>

                <textarea placeholder="Nhập cầu hỏi" class="form-control" rows="5"></textarea>

                <p class="text-end mt-5">
                    <a class="btn btn-success btn-tree-color">Gửi câu trả lời</a>
                </p>
            </form>
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->


</div>
<!-- /.content-wrapper -->
<footer class="bg-gray">
    <div class="bg-tre-color">
        <div class="container pt-10">
            <div class="row align-items-end">
                <div class="col-md-8">
                    <img src="assets/img/logo-footer.png" width="200px">
                    <h2 class="text-white pt-5 pb-3 m-0">CÔNG TY CỔ PHẦN GREENER FUTURE</h2>
                    <ul class="list-unstyled">
                        <li class="text-white"><a href="tel:0833.086.888" class="font-18 font-weight-300"><i class="fa-solid fa-phone"></i> 0833.086.888</a></li>
                        <li class="text-white"><a href="mailto:contact@greenerfuture.com" class="font-18 font-weight-300"><i class="fa-solid fa-envelope"></i> contact@greenerfuture.com</a></li>
                        <li class="text-white"><a href="" class="font-18 font-weight-300"><i class="fa-solid fa-building"></i> Biệt thự H6-SH11 KĐT Tây Hồ Tây - Phường Cổ Nhuế 1 - Bắc Từ Liêm - TP Hà Nội - Việt Nam</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-white pt-3 pb-3">MẠNG XÃ HỘI</h2>
                    <ul class="list-unstyled flex-column">
                        <li class="list-inline-item p-0 ml--6 me-0">
                            <a href="#"><img alt="" src="assets/img/search-button-footer.png"></a>
                        </li>
                        <li class="list-inline-item p-0 ml--6 me-0">
                            <a href="#"><img alt="" src="assets/img/fb-button-footer.png"></a>
                        </li>
                        <li class="list-inline-item p-0 ml--6 me-0">
                            <a href="#"><img alt="" src="assets/img/btn-ytb-footer.png"></a>
                        </li>
                        <li class="list-inline-item p-0 ml--6 me-0">
                            <a href="#"><img alt="" src="assets/img/btn-tiktok-footer.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="bottom-footer">
            <div class="container">
                <p class="m-0 pt-3 pb-3 text-white">COPYRIGHT 2024 GREENERFUTURE. ALL RIGHT RESERVED</p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>
